/*************  Général *************/

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: 1.5;
}

:root {

    --primary-font: "Manrope", sans-serif;
    --secondary-font:"Anton", sans-serif;

    --Black: #1B1B1B;
    --lightGrey : #C6C6C6;
    --primary-color: #000000;
    --secondary-color: #7A7A7A;
    --third-color:  #FFD15B;
    --white: #FFFFFF;

    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 16px;
    color: var(--Black, #1B1B1B);
}

.active{
    /* max-height: 200px; */
    overflow: visible;
}

.rotate {
    transform: rotate(180deg);
    transition: 0.2s ease;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.hidden{
    display: none;
}

::placeholder {
    color: var(--secondary-color, #7A7A7A);
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

*:focus::placeholder{
    opacity: 0;
}

.visuallyhidden {
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}



button, svg, input.search-submit, input.filter-bar-submit, div#header_search .delete, .header_delete-main, .delete {
    cursor: pointer;
}


/* Lien d'échappement  */

.skip-link {
    background-color: var(--third-color);
    border: solid 3px #000;
    color: #000;
    padding: 0.625em 0.9375em;
    text-decoration: none;
}

.skip-link:not(:focus):not(:active) {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body{
    background-color: #EDEDED; ;
}

header{
    height: 660px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url("./../assets/img/bg_header.jpg"), lightgray 50% / cover no-repeat;
    object-fit: none;
    background-size: cover;
    background-position: center center;
}

header img{
    display: block;
    position: relative;
    z-index: 2;
    width: 207px;
    height: 26px;
    top: 50px;
    left: 35px;
}

header h1 {
    position: relative;
    top: 35%;
    width: 95%;
    font-family: var(--secondary-font);
    color: var(--third-color);
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 1px 1px 2px var(--primary-color);
}

div.header_search{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;

}

form#search{
    width: 100%;
    height: 62px;
}

div.search-rb{
    width: 100%; 
    margin-left: 50%;
    transform: translateX(-50%);
}

input#search-q{
    height: 62px;
    width: 100%;
    min-width: 300px;
    padding-left: 5px;
    border: none;
    border-radius: 11px;
    font-size: 0.75rem;
}

div#header_search .header_delete-main{
    position: absolute;
    display: none;
    top: 18px;
    right: 40px;
    padding: 14px;
    width: 30px;
    height: 30px;
    background: no-repeat url("./../assets/img/crossxl.svg");
    object-fit: none;
    background-position: center center;
}

input.search-submit{
    position: absolute;
    color: transparent;
    right: 3px;
    top: 10px;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 11px;
    background: no-repeat url("./../assets/img/loop.svg");
    object-fit: none;
    background-position: center center;
    background-color: var(--Black, #1B1B1B);
    transition: 0.4s ease-in-out;
}

input.search-submit:hover, input.search-submit:focus{
    background: no-repeat url("./../assets/img/loopb.svg");
    object-fit: none;
    background-position: center center;
    background-color: var(--third-color, #FFD15B);
}


/********* main *********/
main{
    width: 90%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

/********* filter button single - Main section *********/

div.main_filter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top : 30px;

}

.main_filter-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    height: 100%;
}

.single-filter{
    position: relative;
    z-index: 3;
    height: 100%;
    background-color: var(--white, #FFFFFF);
    border-radius: 11px;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}

#btn-filter-ingredients, #btn-filter-appareils, #btn-filter-ustensiles{
    display: inline-flex;
    align-items: center;
    gap: 65px;
    border: none;
    border-radius: 11px;
    background-color: var(--white, #FFFFFF);
    margin: 17px 10px;
    padding: 0px 16px;
}

span.btn-filter-title{
    font-size: 1rem;
}

.filter-bar-single, .delete{
    display: none;
}

.displayBlock{
    display: block;

}

/* .filter-ingredients{
    position: relative;
    display: flex;
    justify-content: center;
} */

.single-filter-bar-btn{
    position: relative;
    /* width: 100%; */
    margin-bottom: 30px;
}

input#filter-sort-ingredients, input#filter-sort-appareils, input#filter-sort-utensils{
    display: block;
    width: 90%;
    height: 36px;
    margin: 0px auto;
    padding-left: 3px;
    border: solid 1px var(--lightGrey, #C6C6C6);
    border-radius: 2px;
    /* font-size: 0.75rem; */
}

input.filter-bar-submit{
    position: absolute;
    color: transparent;
    right: 10px;
    bottom: 0px;
    padding: 8px;
    border: none;
    background: no-repeat url("./../assets/img/loopg.svg");
    object-fit: none;
    background-position: center center;
}

.delete{
    position: absolute;
    top: 4px;
    right: 35px;
    padding: 14px;
    width: 12px;
    height: 12px;
    background: no-repeat url("./../assets/img/cross.svg");
    object-fit: none;
    background-position: center center;
}

ul{
    list-style-type: none;
    color: var(--Black, #1B1B1B);
    font-family: Manrope;
    font-size: 0.875rem;
    margin-left: 16px;
    height: 270px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;

}

ul::-webkit-scrollbar{
    display: none; /* hidden scrollbar */
}

ul{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /*firefox */
}

li{
    margin-bottom: 13px;
    text-transform: lowercase;
}

li::first-letter{
    text-transform: uppercase;
}

.numberTotalRecipes{
    display: flex;
    margin: 50px auto;
}

.numberRecipes{
    margin-right: 10px;
}

.numberRecipes, .recipes{
    color: var(--Black, #1B1B1B);
    font-family: Anton;
    font-size: 21px;
}


/******  recipes section ******/

#main_allRecipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 46px 28px;
    /* margin-top: 55px; */
}

.allRecipes_article{
    width: 100%;
    border-radius: 21px;
    background-color: var(--white, #FFFFFF);
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}

.allRecipes_imgSection{
    position: relative;
    font-family: Manrope;
    font-size: 0.750rem;
}

.allRecipes_imgSection-img{
    width: 100%;
    height: 253px;
    object-fit: cover;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

.allRecipes_imgSection-duration{
    position: absolute;
    z-index: 2;
    top: 21px;
    right: 23px;
    padding: 5px 15px;
    background-color: var(--third-color, #FFD15B);
    border-radius: 21px;
}

.allRecipes_dataRecipes{
    margin: 0 25px;
}

.allRecipes_dataRecipes-nameRecipe{
    font-family: Anton;
    margin-top: 32px;
    font-size: 1.125rem;
}

.dataRecipes_recipe-title{
    font-family: Manrope;
    margin: 29px 0 15px 0;
    color: var(--secondary-color, #7A7A7A);
    font-size: 0.750rem;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.dataRecipes_recipe-txt, .recipe-ingredient-section-title{
    color: var(--Black, #1B1B1B);
    font-family: Manrope;
    font-size: 0.875rem;
}

.recipe-ingredients-main-section{
    display: flex;
    flex-wrap: wrap;
    padding-bottom : 25px
}

.recipe-ingredient-section{
   width: 50%;
   margin: 15px 0;
}

.recipe-ingredient-section-title{
    font-weight: 500;
}

.ingredient-section-qteUnit{
    display: flex;
    gap: 5px;
    color: var(--Grey, #7A7A7A);
    font-family: Manrope;
    font-size: 0.875rem;
    
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media screen and (min-width:360px) { 
    header h1 {
        width: 90%;
        top: 40%
    }

    input#search-q{
        min-width: 320px;
        padding-left: 10px;
        font-size: 0.813rem;
    }

    div#header_search .header_delete-main{
        top: 18px;
        right: 50px;
    }

    input.search-submit{
        right: 10px;
    }
}


@media screen and (min-width:480px) {
    header img{
        left: 47px;
    }

    input#search-q{
        padding-left: 20px;
        font-size: 0.875rem;
    }

    div#header_search .header_delete-main{
        right: 60px;
    }

    .main_filter-all {
        justify-content: flex-start;
    }

}

@media screen and (min-width:520px) {


    .numberTotalRecipes{
        display: flex;
        align-items: center;
    }

    .allRecipes_article{
        width: 80%;
    }
}


/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
@media screen and (min-width:600px) { 

    header img{
        left: 50px;
    }

    header h1 {
        width: 80%;
        font-size: 1.9rem;
    }

    div.header_search{
        width: 85%;
    }

    input#search-q{
        padding-left: 25px;
        font-size: 0.938rem;
    }

    .allRecipes_article{
        width: 75%;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width:801px) { 

    header img{
        left: 57px;
    }

    header h1 {
        width: 75%;
        font-size: 2rem;
    }

    div.header_search{
        width: 80%;
    }

    input#search-q{
        padding-left: 30px;
        font-size: 1rem;
    }

    div#header_search .header_delete-main{
        right: 70px;
    }

    .main_filter{
        max-height: 58px;
    }

    .main_filter-all{
        gap: 45px;
    }

    #main_allRecipes {
        margin-top: 125px;
        gap: 66px 28px;
        justify-content: flex-start;
      }

    .allRecipes_article{
        width: 45%;
    }

 
 }

 /* big landscape tablets, laptops, and desktops */
@media screen and (min-width:1025px) {  

    header img{
        left: 65px;
    }

    header h1 {
        width: 70%;
        font-size: 2.25rem;
    }

    div.header_search{
        width: 70%;
    }

    form.search{
        height: 72px;
    }

    input#search-q {
        padding-left: 35px;
        height: 72px;
    }

    div#header_search .header_delete-main{
        top: 20px;
        right: 80px;
    }

    input.search-submit{
        right: 10px;
        width: 52px;
        height: 52px;
    }

    div.main_filter{
        flex-direction: row;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }

    .main_filter-all {
        gap: 60px;
    }

    .numberTotalRecipes{
        justify-content: center; 
        margin: 0;   
    }

    #main_allRecipes {
        margin-top: 55px;
        gap: 66px 38px;

    }

    .allRecipes_article{
        width: 30%;
    }
}



/* hi-res laptops and desktops */ 
@media screen and (min-width:1281px) { 

    header img{
        left: 69px;
    }

    header h1 {
        width: 55%;
        font-size: 2.75rem;
    }



}